*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: black;
    cursor: none;
    scroll-behavior: smooth;
    /* scroll-snap-type: inherit; */
    user-select: none;
}
.container{
    width: 100%;
    height: 100vh;
    /* margin: 10px; */
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.wrapper{
    width: 100%;
    height: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: black;
    top: 0;
    left: 0;
    padding: 20px;
    cursor: default;
}
    .frontend{
        margin: 10px;
        margin-left:15px ;
        padding-left: 10px;
    }
.frontend p{
    color: #fff;
    font: 1.2rem;
}
.dev{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
}
.dev .p{
    font-family: "poppins", sans-serif;
    font-size: 1.4rem;
    color: white;
}
ul li{
    display: inline-block;
    list-style: none;padding: 10px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 1.2rem;
    font-family: "poppins", sans-serif;
    position: relative;

}
ul li a:hover{
    border: none;
}
ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 7px;
    bottom: 5px;
    transition: 0.5s;
}
ul li a:hover::after{
    width: 90%;
    border: none;
}
nav .fa-solid {
    color: white;
    display: none;
}
.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20vh;
    margin-left: 10%;

}
.title-name{
    display: block;
    color: #fff;
    padding: 15px;
    margin-top: 35px;
    text-align: center;
    width: 100%;
}
.front{
    font-size: 8rem;
}
.front span{
    position: relative;
    padding: 40px 9rem;
}

.front span::before{
    content: "";
    width: 16rem;
    height: 20px; 
    background-color: #fff;
    position: absolute;
    bottom: 6rem;
    left: -9px;
}
.developer{
    text-align: center;
    font-size: 7rem;
    margin: 5px;
}
.bio{
    color: #ababab;
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 60%;
    text-align: center;
    line-height: 50px;
    margin-top: 5%;
}
.service{
    width: 90%;
    padding: 15px;
    margin: 10px;
}
.service-container{
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace;
}
.my-service{
    color: beige;
    font-family: "Audiowide", sans-serif;
    font-size: 35px;
    margin: 10px;
}
.myService-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px 35px;
}
.myService{
    width: 30%;
    height: 300px;
    margin: 15px;
    gap: 5rem;
    padding: 20px;
    line-height: 25px;
    border-radius: 10px;
    color: wheat;
    background-color: #464242;
    transition: background .5s, transform .5s;
}
.myService:hover{
    background-color: #ff004f ;
    transform: translateY(-15px);
}
.myService h3{
    font-size: 1.5rem;
    margin: 15px auto;
    text-align: justify;
    font-weight: bold;
}
.myService p{
    margin-bottom: 10px;
    text-align: justify;
    text-wrap: wrap;
    font-size: 15px;
}
.myService i{
    font-size: 2rem;
}
.service a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 15px;
    color: beige;
    text-decoration: none;
    border: 1px solid beige;

}
.material-icons{
    width: 65px;
    height: 25px;
    color: blue;
    font-size: 45px;
    margin: 20px;
}
.projects{
    width: 100%;
}
.projectContainer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 10px;
}
.mywork{
    color: beige;
    font-size: 35px;
    font-family: "Audiowide", sans-serif;
    margin: 10px;
}
.mywork:hover{
    color: white;
}
.myWorks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}
.my-works{
    display: block;
    width: 22%;
    height: 350px;
    margin: 3rem 3rem 0 3rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /* flex-direction: column; */
}
.my-works a img{ 
    width: 100%;
    height: 100%;
    transition: .6s;
}

.imgDescptn{
    background: linear-gradient(rgba(0,0,0,0.6), red);
    /* padding: 5px 10px 0 10px; */
    position: absolute;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 5px;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    transition: height .5s;
}
.imgDescptn p{
    color: beige;
    width: 100%;
}
.imgDescptn a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin: 30px 20px;

}
.imgDescptn a i {
    margin: 10px auto;
    color: black;
}
img{
    width: 260px;
    height: 300px;
}
.my-works:hover img{
    transform: scale(1.1);
}
.my-works:hover .imgDescptn{
    height: 100%;
}
.btn{
    font-size: 20px;
    color: beige;
    background-color: transparent;
    padding: 10px;
    width: fit-content;
    border: 1px solid beige;
    margin:0 auto;
    margin-top: 25px;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: beige;
    color: black;
}
.contact-container{
    width: 100%;
    height: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-container h2{
    font-size: 4rem;
    color: beige;
    font-family: "Audiowide", sans-serif;
    margin-top: 2rem;
}
.contact-container h2:hover{
    color: white;
}
.contact-container p{
    color: beige;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 45px;
    font-family: "poppins", sans-serif;
}
.contact-container p span{
    margin-left: 25px;
} 
.contact-container .viaReach{
    display: flex;
    flex-direction: column;
}
.contact-container .network{
    display: inline-block;
    padding: 25px;
    margin: 10px;
    margin-top: 3rem;
}

.contact-container .network .fa-brands{
    font-size: 45px;
    color: gray;
    padding: 0 25px;
    transition: transform .5s;
}
.contact-container .network .fa-brands:hover{
    transform: scale(1.3);
}

/* ---------------------- CSS FOR SMALL SCREENS ------------------- */
@media (max-width: 1800px) {
    .title{
        width: 100%;
        margin-top: 17vh;
        margin-left: 5%;
    }
    .front{
        font-size: 8rem;
        text-align: center;
    }
    .developer{
        text-align: center;
        font-size: 7rem;
        margin: 5px;
    }
}
@media (max-width: 1400px) {
    .container{
        width: 100%;
        height: 100vh;
        padding: 10px;
    }
    .title{
        width: 100%;
        margin-top: 17vh;
        margin-left: 5%;
    }
    .front{
        font-size: 6rem;
        text-align: center;
    }
    .developer{
        text-align: center;
        font-size: 5.5rem;
        margin: 5px;
    }
}
@media (max-width: 1200px) {
    .container{
        width: 100%;
        height: 90vh;
        padding: 10px;
    }
    .title{
        width: 100%;
        margin-top: 17vh;
        margin-left: 5%;
    }
    .front{
        font-size: 5rem;
        text-align: center;
        /* display: inline-block; */
    }
    .developer{
        text-align: center;
        font-size: 4.5rem;
        margin: 5px;
    }
    .bio{
        width: 80%;
        text-align: center;
        line-height: 45px;
        margin-top: 3%;
        font-size: 1.3;   
    }
    .front span{
        padding: 30px 7rem;
}
.front span::before{
    width: 14rem;
    height: 18px;
    bottom: 4.7rem;
    left: -9px;
}
.myService-container{
    width: 100%;
}
.myService{
    width: 30%;
    height: 300px;
    margin: 10px;
    gap: 3rem;
    padding: 10px;
    line-height: 20px;
    border-radius: 8px;
}
.myService h3{
    font-size: 1rem;
    margin: 10px auto;
    text-align: justify;
}
.myService p{
    margin-bottom: 10px;
    text-align: justify;
    text-wrap: wrap;
    padding: 5px;
}
.myService i{
    font-size: 1.8rem;
}
.myService i{
    font-size: 1.5rem;
    margin-top: 10px;
}
.my-works{
    display: block;
    width: 20%;
    height: 280px;
    margin: 1rem 3rem 0 3rem;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    /* flex-direction: column; */
}
}
@media (max-width: 900px) {
    .container{
        width: 100%;
        height: 80vh;
        padding: 10px;
    }
    .title{
        width: 100%;
        margin-top: 14vh;
        margin-left: 5%;
    }
    .front{
        font-size: 3.8rem;
        text-align: center;
    }
    .front span{
        position: relative;
        padding: 40px 5.5rem;
    }
    .front span::before{
        content: "";
        width: 10rem;
        height: 13px; 
        background-color: #fff;
        position: absolute;
        bottom: 4rem;
        left: -5px;
    }
    .developer{
        text-align: center;
        font-size: 3rem;
        margin: 5px;
    }
    .myService-container{
        width: 100%;
    }
    .myService{
        width: 30%;
        height: 320px;
        margin: 10px;
        gap: 3rem;
        padding: 10px;
        line-height: 20px;
        border-radius: 5px;
    }
    .myService i{
        font-size: 2.3rem;
        margin-left: 20px;
    }
    .myService h3{
        font-size: .9rem;
        margin: 10px auto;
        text-align: justify;
    }
    .myService p{
        margin-bottom: 10px;
        text-align: justify;
        text-wrap: wrap;
        padding: 5px;
        font-size: 10px;
    }
    nav .fa-solid {
        display: block;
        font-size: 30px;
        margin: 10px;
        cursor: pointer;
    }
    nav ul{
        background-color: #d30345;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding: 15px;
        cursor: default;
        transition: right .7s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .home{
        margin-top: 70px;
    }
    nav ul .fa-solid{
        top: 25px;
        position: absolute;
        left: 25px;
        margin-left: 25px;
        /* padding-bottom: 40px; */
    }
    .contact-container h2{
        margin-top: 2rem;
        font-size: 2.8rem;
    }
}
@media (max-width: 600px) {
    .container{
        width: 100%;
        height: 70vh;
        padding: 10px;
    }
    nav ul{
        height: 100vh;
    }
    .front{
        font-size: 2.2rem;
        text-align: center;
    }
    .front span{
        position: relative;
        padding: 30px 5rem;
    }
    .front span::before{
        content: "";
        width: 9rem;
        height: 10px; 
        background-color: #fff;
        position: absolute;
        bottom: 3rem;
        left: -5px;
    }
    .developer{
        text-align: center;
        font-size: 2rem;
        margin: 5px;
    }
    .bio{
        width: 80%;
        text-align: center;
        line-height: 40px;
        margin-top: 3%;
        font-size: 1.3rem;   
    }
    .my-service{
        font-size: 2rem;
    }
    .myService-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 30px 20px;
    }
    .myService{
        width: 75%;
        height: 280px;
        margin: 40px 10px;
        gap: 3rem;
        padding: 10px;
        line-height: 20px;
        border-radius: 8px;
    }
    .myService i{
        font-size: 2rem;
        margin-left: 20px;
    }
    .myService h3{
        font-size: 1.2rem;
        margin: 20px auto;
        text-align: justify;
    }
    .myService p{
        margin-bottom: 10px;
        text-align: justify;
        text-wrap: wrap;
        padding: 5px;
        font-size: 15px;
        /* line-height: 20px; */
    }
    .mywork{
        font-size: 2rem;
    }
    .myWorks{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }
    .my-works{
        display: block;
        width: 75%;
        height: 350px;
        margin: 3rem 3rem 0 3rem;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        /* flex-direction: column; */
    }
    .contact-container h2{
        margin-top: 2rem;
        font-size: 2.5rem;
    }
    .contact-container p{
        font-size: 1rem;
        line-height: 25px;
        margin-left: 15px;
    }
    .btn{
        font-size: 15px;
        padding: 6px;
        margin-top: 20px;
        text-decoration: none;
        border-radius: 2px;
    }
    .contact-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contact-container h2{
        font-size: 2rem;
        margin-top: .5rem;
    }
    .contact-container .network{
        display: inline-block;
        padding: 10px;
        margin: 25px 2px 10px 2px;
    }
    .contact-container .network .fa-brands{
        font-size: 20px;
        padding: 0 15px;
    }
}
@media (max-width: 450px) {
    .dev{
        align-items: center;
    }
    .dev .name .p {
        font-size: 15px;
    }
    .container{
        width: 100%;
        height: 68vh;
        padding: 10px;
    }
    .frontend p{
        font-size: 12px;
    }
    .front{
        font-size: 1.8rem;
        text-align: center;
    }
    .front span{
        position: relative;
        padding: 30px 4.5rem;
    }
    .front span::before{
        content: "";
        width: 9rem;
        height: 8px; 
        background-color: #fff;
        position: absolute;
        bottom: 2.6rem;
        left: -5px;
    }
    .developer{
        text-align: center;
        font-size: 1.6rem;
        margin: 5px;
    }
    .bio{
        width: 95%;
        text-align: center;
        line-height: 30px;
        margin-top: 3%;
        font-size: 1.2rem;   
    }
    nav ul{
        height: 100%;
    }
    .my-service{
        font-size: 1.5rem;
    }
    .myService-container{
        margin: 20px 10px;
    }
    .myService{
        width: 65%;
        height: 250px;
        margin: 20px 10px;
        gap: 2rem;
        padding: 10px;
        line-height: 20px;
        border-radius: 8px;
    }
    .myService i{
        font-size: 1.2rem;
        margin-left: 20px;
    }
    .myService h3{
        font-size: 1rem;
        margin: 10px auto;
        text-align: justify;
    }
    .myService p{
        margin-bottom: 10px;
        text-align: justify;
        text-wrap: wrap;
        padding: 5px;
        font-size: 11px;
        /* line-height: 20px; */
    }
    .mywork{
        font-size: 1.5rem;
    }
    .myWorks{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.2rem;
        width: 100%;
    }
    .my-works{
        display: block;
        width: 65%;
        height: 300px;
        margin: 1rem 3rem 0 3rem;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        /* flex-direction: column; */
    }
    .btn{
        font-size: 13px;
        padding: 6px;
        margin-top: 5px;
        text-decoration: none;
        border-radius: 2px;
    }
    .contact-container{
        width: 100%;
        /* padding: 25px 20px; */
    }
    .contact-container h2{
        font-size: 1.5rem;
        margin-top: 0;
    }
    .contact-container p, span p{
        font-size: 13px;
    }
}
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    outline: .5px solid ghostwhite;
    transition: .1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}
.name p:hover ~ .cursor{
    transform: scale(3);
    background-color: #fff;
    outline: none;
}